.sliderContainer {
  width: 99%; /* stop from overflowing sides and triggering horizontal scrollbar */
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;

  padding-left: 2%;
  padding-right: 2%;
  border: 0; /* remove bottom border line */
}

.sliderLabels {
  display: flex;
  width: 95%;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.sliderLabel {
  inline-size: 8rem;
  word-break: break-all;
  /* overflow-wrap: break-word; */
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 16px;
  border-radius: 40%;
  background: rgb(26, 179, 148);
  margin-top: -8px;
  visibility: hidden;
}

.slider.sliderClicked::-webkit-slider-thumb {
  visibility: visible;
}

.slider:focus {
  outline: none;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
