.sliderContainer {
  width: 100%;
  /* stop from overflowing sides and triggering horizontal scrollbar */
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;

  padding-left: 2%;
  padding-right: 2%;
  border: 0;
  /* remove bottom border line */
  width: 100%;
}

.sliderLabels {
  display: flex;
  width: 95%;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.sliderLabel {
  display: inline-block;
  width: 8rem;
  word-break: break-all;
  overflow-wrap: break-word;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

.slider::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 16px;
  border-radius: 40%;
  background: rgb(26, 179, 148);
  margin-top: -8px;
  visibility: hidden;
}

.slider::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 16px;
  border-radius: 40%;
  background: rgb(26, 179, 148);
  visibility: hidden;
}

.slider.sliderClicked::-webkit-slider-thumb {
  visibility: visible;
}

.slider.sliderClicked::-moz-range-thumb {
  visibility: visible;
}

.slider:focus {
  outline: none;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.slider:focus::-moz-range-track {
  background: #ccc;
}

/* ----------------added styles to make required changes by Amir Rahman from upwork---------------- */

/* to resolve the issue : https://github.com/Watts-Lab/surveys/issues/110 */

.sliderLabel {
  width: 0px;
  left: 0px;
  position: relative;
}

.sliderLabel .tick {
  height: 13px;
  width: 2px;
  background: rgb(194 194 194);
  top: -15px;
  left: 0px;
  z-index: -1;
  position: relative;
  border-radius: 25px;
}

.sliderLabel .label_value {
  top: -18px;
  text-align: center;
  max-width: 100px;
  width: max-content;
  word-break: break-word;
  font-size: 14px;
  position: relative;
}

datalist.sliderLabels {
  position: relative;
  width: 94.5%;
  left: 10px;
}

.sliderLabel .each_label {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sv-row__question {
  overflow: visible;
}

.sliderContainer input {
  width: 100%;
}

.active {
  font-weight: bold;
}
